<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&family=Palette+Mosaic&family=Smokum&display=swap" rel="stylesheet">

<header>
    <style>
  img {
    width: 111px;
    height: auto;
  }

  .red-text {
    color: red;
    font-size: 60px;
    font-family: Palette Mosaic;
  }

  .blue-text {
    color: blue;
    font-size: 60px;
    font-family:'Noto Sans HK', sans-serif;
  }

  .yellow-text {
    color: yellow;
    font-size: 60px;
    font-family: Smokum;
  }
</style>


</header>

<main>
    <h2>Welcome to Simpsons trivia game!</h2>

    <div>
        <a href="/feedback">
            <div th:insert="icon"></div>
        </a>

    </div>


<form action="#" th:action="@{/}" th:object="${triviaForm}" method="post">
    <table>

        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
    </table>

        <br>
        <br>
        <br>

    <table>
        <tr>
           <td><img src=computer.jpg alt="computer" />  </td>
            <td>What device does home use to change his grade?</td>
            <td><input type="text"  th:field="*{computer}"/> </td>
            <!--RESULT SECTION-->
            <div th:switch="${triviaForm.isComputerCorrect}">
                <td th:case="correct"> &#9989; </td>
                <td th:case="wrong"> &#9940; </td>
            </div>
        </tr>
    </table>

        <br>
        <br>
        <br>

    <table>
        <tr>
            <td><img src=just_moe.jpg alt="just_moe" />  </td>
            <td>Who is homer accused of murdering?</td>
            <td><input type="text"  th:field="*{justmoe}"/> </td>
            <!--RESULT SECTION-->
            <div th:switch="${triviaForm.isMurderCorrect}">
                <td th:case="correct"> &#9989; </td>
                <td th:case="wrong"> &#9940; </td>
            </div>
        </tr>
    </table>

    <br>
    <br>
    <br>

    <table>
        <tr>
            <td><img src=gun.jpg alt="gun" />  </td>
            <td>What does this police academy recruit keep asking about?</td>
            <td><input type="text" th:field="*{gun}" /> </td>
            <!--RESULT SECTION-->
            <div th:switch="${triviaForm.isGunCorrect}">
                <td th:case="correct"> &#9989; </td>
                <td th:case="wrong"> &#9940; </td>
            </div>
        </tr>
    </table>

    <br>
    <br>
    <br>

    <table>
        <tr>
            <td><img src=zeppelin_rules.jpg alt="fish" />  </td>
            <td>What does Otto yell moments before the current takes him away?</td>
            <td><input type="text" th:field="*{zeppelin}" /> </td>
            <!--RESULT SECTION-->
            <div th:switch="${triviaForm.isZeppelinCorrect}">
                <td th:case="correct"> &#9989; </td>
                <td th:case="wrong"> &#9940; </td>
            </div>
        </tr>
    </table>

    <br>
    <br>
    <br>

    <tr>
        <td><button type="submit">Done?</button></td>
    </tr>




</form>

</main>
</html>